.animal-show {
  position: relative;
  margin: 10px;
  box-shadow: 0 5px 10px lightgray;
  padding: 10px;
  border-radius: 5px;
}
.animal {
  height: 200px;
}

.heart {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
